<div class="w-full flex flex-row bg-black justify-between p-4">
    <div class="text-2xl text-white">
        Defi App
    </div>
    <button mat-stroked-button color="primary"
    [cdkMenuTriggerFor]="walletKind"
    >
        @if((wallet.signerChange | async) === undefined) {
            Connect Wallet
        } @else {
            {{wallet.signerAddress}}
        }
    </button>
    <ng-template #walletKind>
        <div cdkMenu class="flex flex-col bg-slate-900">
            <button mat-button color="accent"
                (click)="connectInjectedProvider()"
            >
                @if(wallet.injectedProviderSupported) {
                    Injected provider
                } @else {
                    Not supported
                }
            </button>
            <button mat-button color="accent">
                WalletConnect provider
            </button>
        </div>
    </ng-template>

</div>